.Layout {
    display: flex;
    position: relative;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.Layout > .Background__main_image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../../Assets/Backgrounds/sunset-clouds.jpg");
    background-size: 100% 100%;
    filter: blur(15px) opacity(25%);
    z-index: -9999;
    transform: rotate(180deg);
}
