.LinkButton,
.LinkButton > a {
    transition: 0.3s;
}

.LinkButton {
    --border-radius: 100vw;

    position: relative;
    display: flex;
    width: clamp(35px, 5vw, 55px);
    height: clamp(35px, 5vw, 55px);
    margin: 15px auto;
    padding: clamp(0.5px, 2vw, 4px);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    align-items: center;
    justify-content: center;
}

.LinkButton * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.LinkButton > span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: var(--border-radius);
    background-color: var(--white-transparent);
    backdrop-filter: blur(var(--blur));
    font-weight: 500;
    font-size: clamp(8px, 3vw, 16px);
    color: rgb(60, 60, 60);
    padding: 3px 1.5vw;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.05);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.LinkButton > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: transparent;
}

.LinkButton > a,
.LinkButton > div {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transform: scale(90%);
}

.LinkButton > svg {
    position: absolute;
    width: 80%;
    height: 100%;
    color: rgba(255, 255, 255, 0.85);
}

.LinkButton:hover > span {
    transform: translateY(-50%) translateX(clamp(25px, 9vw, 50px));
    opacity: 1;
}

.LinkButton__link_background {
    position: absolute;
    background: var(--linear-gradient);
}
