.Skills {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    width: 100%;
}

.Skills li {
    font-size: clamp(1.1rem, 1.5vw, 1.5rem);
    color: rgb(78, 78, 78);
}

.Skills > .twoDimensional {
    display: flex;
    flex-direction: row;
}

.Skills > .twoDimensional > ul {
    user-select: text;
    margin: auto;
    padding: 15px;
    list-style: none;
    color: rgb(78, 78, 78);
}

.Skills > .twoDimensional > ul > li::before {
    content: "\2022";
    color: rgb(153, 18, 81);
    font-weight: bold;
    display: inline-block;
    width: 1rem;
}