@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&family=Rubik:ital,wght@0,900;1,900&display=swap");

.ClipText {
    position: relative;
    margin: 15px auto;
}

.ClipText > .ClipTextContainer > *,
.ClipText > .ClipTextShadowContainer > * {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    text-align: center;
}

.ClipText > .ClipTextContainer {
    display: inline-block;
    position: relative;
}

.ClipText > .ClipTextShadowContainer {
    position: absolute;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.ClipText .GradientText {
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
}
