.Info,
.Info > * {
    transition: 1.5s;
}

.Info {
    min-width: 300px;
    width: 500px;
    border-radius: 100px;
    max-width: 550px;
    margin: 40px auto;
}

.Info > p {
    user-select: none;
    color: rgb(60, 60, 60);
    text-align: center;
    font-size: 110%;
    font-weight: 300;
    margin: 2%;
}

.Info:hover {
    box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.05),
        -15px -15px 25px rgba(255, 255, 255, 0.3),
        inset -4px -4px 8px 0 rgba(255, 255, 255, 0.3),
        inset 4px 4px 10px 0 rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}
