.Info {
    width: 500px;
    border-radius: 100px;
    max-width: 550px;
    margin: 40px auto;
}

.Info > p {
    user-select: none;
    color: rgb(60, 60, 60);
    text-align: center;
    font-size: 110%;
    font-weight: 300;
    margin: 2%;
}


@media only screen and (max-width: 600px) {
    .Info {
        width: 360px;
    }
}
